*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: visible;
}

body{
    /* align-items: center; */
    min-height: 100vh;
    background-image: url(obr.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;

    
}

.pasik{
    background-color: #F5F9E7;
    width: 200px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    padding: 20px;
    overflow: hidden;
}
x
.pasik2{
    background-color: #F5F9E7;
    width: 1100px;
    height: 50px;
    
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    padding: 20px;
    overflow: hidden; */
}


#rotator{
    position: absolute;
    float: right;
    margin-left: 700px;
    margin-bottom: 15px;
}